@font-face {
  font-family: 'sheet';
  src: url('../../assets/fonts/sheet.woff2') format('woff2'),
       url('../../assets/fonts/sheet.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Play:  "\e808"
// Pause: "\e809"
// Next:  "\e804"
// Prev:  "\e805"
// Up:  "\e802"
// Down:  "\e800"
// Next chevron:  "\e807"
// Prev chevron:  "\e806"
// Up chevron:  "\e801"
// Down chevron:  "\e803"

// Comentarios (lista)
.#{$class-prefix} {
  --#{$vars-prefix}color: #{$main-color};
  --#{$vars-prefix}duration: #{$transition-duration};
  --#{$vars-prefix}gap: #{$main-gap};
  --#{$vars-prefix}arrow-right: "\e807";
  --#{$vars-prefix}arrow-left: "\e806";
  --#{$vars-prefix}navigation-size: #{$navigation-size};
  --#{$vars-prefix}ratio: calc((var(--#{$vars-prefix}ratio-y, 9) / var(--#{$vars-prefix}ratio-x, 21)) * 100%);
  font-size: $font-size-base;
  overflow: hidden;
  position: relative;

  input {
    display: none;
  }

  // Iconos de fuentes
  &-arrows {
    label::before {
      font-family: "sheet";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-weight: normal;
      display: inline-block;
      text-align: center;
      line-height: 1;
      vertical-align: middle;
    }
  }
}