@font-face {
  font-family: 'sheet';
  src: url('../font/sheet.eot?4641300');
  src: url('../font/sheet.eot?4641300#iefix') format('embedded-opentype'),
       url('../font/sheet.woff2?4641300') format('woff2'),
       url('../font/sheet.woff?4641300') format('woff'),
       url('../font/sheet.ttf?4641300') format('truetype'),
       url('../font/sheet.svg?4641300#sheet') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Play:  "\e82b"
// Pause: "\e829"
// Next:  "\e826"
// Prev:  "\e82a"
// Next chevron:  "\e828"
// Prev chevron:  "\e827"

// Comentarios (lista)
.sheet {
  --ss-transition-delay: 0.3s;

  &-content {
    // Iconos de fuentes
    &::before {
      font-family: "sheet";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      height: 1em;
      line-height: 1;
      text-align: center;
      vertical-align: middle;
    }
  }
}