/*! Sheet Slider 2.00 | Daniel Moreira - http://zkreations.com | Free to use under terms of MIT license */
.sheet-slider {
    font-size: 16px;
    line-height: 1.5;
    z-index: 30;
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}
/*Se aplica para todo dentro del slider*/
.sheet-slider * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color:#fff;
}
/*
=>Algunas estilos para comenzar
*/
.sheet-slider > input {display: none;}
.sheet-slider img {min-height: 100%;vertical-align: top;}
.sheet-slider li.tab {display:block;}
.sheet-slider li.tab > div h3 {font-size: 2em;margin: 0;font-weight: 700;}
.sheet-slider li.tab > div a {color: #009688;font-weight: 500;text-decoration: none;}
.sheet-slider li.tab > div a:hover {color: #4DB6AC;text-decoration: none;}
.sheet-slider .sh-btns {bottom: 0;left: 0;margin: 0 auto;position: absolute;right: 0;}

/*Todas las clases que usan animacion estaran aqui*/
.sh-arrows label, .sheet-slider ul {
   -moz-transition: width .5s;
   -ms-transition: width .5s;
   -o-transition: width .5s;
   -webkit-transition: width .5s;
   transition: width .5s;
}
.sheet-slider ul {
   -moz-transition: left .7s cubic-bezier(0.54, 0, 0.1, 1);
   -ms-transition: left .7s cubic-bezier(0.54, 0, 0.1, 1);
   -o-transition: left .7s cubic-bezier(0.54, 0, 0.1, 1);
   -webkit-transition: left .7s cubic-bezier(0.54, 0, 0.1, 1);
   transition: left .7s cubic-bezier(0.54, 0, 0.1, 1);
}
.sh-arrows {
   -moz-transition: all .3s;
   -ms-transition: all .3s;
   -o-transition: all .3s;
   -webkit-transition: all .3s;
   transition: all .3s;
}
li.tab > div {
   -moz-transition: opacity .7s ease .6s, top .7s ease .6s;
   -ms-transition: opacity .7s ease .6s, top .7s ease .6s;
   -o-transition: opacity .7s ease .6s, top .7s ease .6s;
   -webkit-transition: opacity .7s ease .6s, top .7s ease .6s;
   transition: opacity .7s ease .6s, top .7s ease .6s;
}
/*
=>Ahora si, lo que nos intersa
*/
.sheet-slider ul {
    background-color: #263238;
    height: 400px;
    position: relative;
}
.sheet-slider ul > li.tab {
    position: absolute;
    top: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
}
/*estilo para textos*/
.sheet-slider li.tab > div {
    left: 0;
    top: 2em;
    position: absolute;
    padding-left: 3em;
    padding-top: 2.5em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 5px rgba(0, 0, 0, 0.16);
    max-width: 500px;
    opacity: 0;
}
/*para los botones*/
.sheet-slider .sh-btns {
    width: 100%;
    z-index: 35;
    height: 7px;
    padding: 0 3em;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: stretch;
    -webkit-align-items: stretch;
}
.sheet-slider .sh-btns label {
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    width: 100%;
    margin: 0 2px;
}
.sheet-slider .sh-btns label:hover {background-color: rgba(255, 255, 255, 0.95);}
/*y para las flechas*/
.sheet-slider .sh-arrows {
    position: absolute;
    right: -140px;
    z-index: 40;
    width: auto;
    bottom: calc(3em + 7px);
    opacity: 0;
}
.sheet-slider:hover .sh-arrows {opacity: 1;right: 0}
.sheet-slider .sh-arrows label {
    background-color: rgba(255, 255, 255, 0.8);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    display: none;
    height: 60px;
    position: relative;
    width: 70px;
}
.sheet-slider .sh-arrows label:hover {background-color: rgba(255, 255, 255, 0.95);width: 80px;}
/*
=>Para que el slider funcione debemos...
*/
/*Especificar un maximo de 5 imagenes, se pueden agregar mas siguiendo la misma lógica*/
.sheet-slider ul > li:nth-child(1) {left: 0;}
.sheet-slider ul > li:nth-child(2) {left: 100%;}
.sheet-slider ul > li:nth-child(3) {left: 200%;}
.sheet-slider ul > li:nth-child(4) {left: 300%;}
.sheet-slider ul > li:nth-child(5) {left: 400%;}

/*segun el estado del input, el contenedor (ul) se desplaza un porcentaje*/
#s1:checked ~ ul {left: 0;}
#s2:checked ~ ul {left: -100%;}
#s3:checked ~ ul {left: -200%;}
#s4:checked ~ ul {left: -300%;}
#s5:checked ~ ul {left: -400%;}

/*basado en lo anterior, el texto aparece o no*/
#s1:checked ~ ul > li:nth-child(1) > div,
#s2:checked ~ ul > li:nth-child(2) > div,
#s3:checked ~ ul > li:nth-child(3) > div,
#s4:checked ~ ul > li:nth-child(4) > div,
#s5:checked ~ ul > li:nth-child(5) > div {opacity: 1;top: 0;}

/*los botones se pintan*/
#s1:checked ~ .sh-btns label:nth-child(1),
#s2:checked ~ .sh-btns label:nth-child(2),
#s3:checked ~ .sh-btns label:nth-child(3),
#s4:checked ~ .sh-btns label:nth-child(4),
#s5:checked ~ .sh-btns label:nth-child(5) {background-color: #009688;}

/*y las flechas aparecen*/
/*Flecha derecha*/
#s1:checked ~ .sh-arrows label:nth-child(2),
#s2:checked ~ .sh-arrows label:nth-child(3),
#s3:checked ~ .sh-arrows label:nth-child(4),
#s4:checked ~ .sh-arrows label:nth-child(5),
#s2:checked:last-of-type ~ .sh-arrows label:nth-child(1),
#s3:checked:last-of-type ~ .sh-arrows label:nth-child(1),
#s4:checked:last-of-type ~ .sh-arrows label:nth-child(1),
#s5:checked:last-of-type ~ .sh-arrows label:nth-child(1) {
   background-image: url(img/arrow/right1x.png);
   display: block;
   float: right;
}
/*Flecha izquierda*/
#s1:checked ~ #s2:last-of-type ~ .sh-arrows label:nth-child(2),
#s1:checked ~ #s3:last-of-type ~ .sh-arrows label:nth-child(3),
#s1:checked ~ #s4:last-of-type ~ .sh-arrows label:nth-child(4),
#s1:checked ~ #s5:last-of-type ~ .sh-arrows label:nth-child(5),
#s2:checked ~ .sh-arrows label:nth-child(1),
#s3:checked ~ .sh-arrows label:nth-child(2),
#s4:checked ~ .sh-arrows label:nth-child(3),
#s5:checked ~ .sh-arrows label:nth-child(4) {
   background-image: url(img/arrow/left1x.png);
   display: block;
   float: left;
}

@media only screen and (max-width: 800px) {

}
@media only screen and (max-width: 700px) {

}
@media only screen and (max-width: 600px) {

}
