body {
  background-color: var(--bg-body);
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

code {
  background-color: rgba(0, 0, 0,  0.5);
  padding: .25rem;
  border-radius: .5rem;
  color: var(--primary);
  white-space: nowrap;
}