
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

*,
::before,
::after {
  box-sizing: border-box;
}


body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--color-text);
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height:100%;
}

* {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  border-width: 0;
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

textarea,
input {
  &:focus {
    outline: none;
  }
}

textarea {
  resize: vertical;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;

  &:not(:disabled) {
    cursor: pointer;
  }
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

img,
svg,
video,
canvas,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

audio,
video {
  width: 100%;
}