:root {
  --primary: #14b8a6;
  --secondary: #22d3ee;

  --color-logo: #5eeddc;
  --color-title: #44403c;
  --color-opaque: #78716c;
  --color-meta: #a8a29e;
  --color-text: #f5f5f4;

  --bg-body: #0c0a09;
  --bg-section: #1c1917;
  --bg-header: #fff;
  --bg-inset: #e7e5e4;

  --gradient: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);

  --container: 1000px;
}