.sheet {
  &-fade &-item {
    position: absolute;
    inset: 0;
    opacity: var(--ss-active, 0);
    transition: opacity var(--sheet-duration) var(--sheet-timing);
    pointer-events: var(--ss-i, none);
  }

  &-vertical {
    --ss-initial-arrow-r: 90;
    --ss-flex-direction: column;
  }

  &-vertical &-content {
    transform: translate3d(0, calc((var(--ss-i,0) - 1) * -100%), 0);
  }
}
