.sheet {
  &-arrows {
    bottom: var(--sheet-space);
    position: absolute;
    right: 0;
    display: flex;
    bottom: calc(var(--sheet-space) + var(--sheet-dot-size));
    transition: transform calc(var(--sheet-duration) * .5);
    flex-direction: var(--ss-flex-direction, row);

    label {
      padding: var(--sheet-arrow-padding, #{$arrow-padding});
      background-color: var(--sheet-arrow-bg, #{$arrow-bg});
      display: var(--ss-arrow-r, none);
      cursor: pointer;

      &::before {
        content: "";
        transform: rotate(calc((var(--ss-initial-arrow-r, 0) + var(--ss-arrow-r)) * 1deg));
        background-image: var(--sheet-arrow, #{$arrow-svg});
        width: var(--sheet-arrow-size);
        height: var(--sheet-arrow-size);
        transition: background-color var(--sheet-duration);
        display: block;
      }
    }
  }


  // Muestra las flechas
  &:not(:hover) &-arrows {
    transform: translateX(calc(100% + var(--sheet-space)));
  }
}
