.sheet {
  &-arrows {
    bottom: var(--ss-sp);
    position: absolute;
    right: 0;
    display: flex;
    bottom: calc(var(--ss-sp) + var(--sheet-dot-size));
    transition: transform calc(var(--ss-td) * .5);
    flex-direction: var(--ss-fd, row);

    label {
      padding: var(--sheet-arrow-padding, #{$arrow-padding});
      background-color: var(--sheet-arrow-bg, #{$arrow-bg});
      display: var(--ss-ar, none);
      cursor: pointer;

      &::before {
        content: "";
        transform: rotate(calc((var(--ss-ad, 0) + var(--ss-ar)) * 1deg));
        background-image: var(--sheet-arrow, #{$arrow-svg});
        width: var(--sheet-arrow-size);
        height: var(--sheet-arrow-size);
        transition: background-color var(--ss-td);
        display: block;
      }
    }
  }


  // Muestra las flechas
  &:not(:hover) &-arrows {
    transform: translateX(calc(100% + var(--ss-sp)));
  }
}
