
.#{$class-prefix} {
  &-arrows {
    display: flex;
    bottom: calc(var(--#{$vars-prefix}gap) + var(--#{$vars-prefix}navigation-size));
    right: 0;
    position: absolute;
    box-shadow: var(--#{$vars-prefix}main-shadow, $main-shadow);
    transform: translateX(calc(100% + var(--#{$vars-prefix}gap)));
    transition: transform calc(var(--#{$vars-prefix}duration) * .5);
    label {
      &::before {
        content: var(--#{$vars-prefix}r, var(--#{$vars-prefix}l));
        padding: var(--#{$vars-prefix}arrow-padding, #{$arrow-padding});
        font-size: var(--#{$vars-prefix}arrow-size, #{$arrow-size});
        color: #010101;
        cursor: pointer;
        background-color: var(--#{$vars-prefix}arrow-bg, #{$arrow-bg});
        transition: background-color calc(var(--#{$vars-prefix}duration) * .5);
        will-change: background-color;
      }
      &:hover {
        &::before {
        background-color: var(--#{$vars-prefix}arrow-bg-hover, #{$arrow-bg-hover});
        }
      }
    }
  }
  // Muestra las flechas
  &:hover  &-arrows {
    transform: translateX(0);
  }
  // Muestra la flecha correcta
  @for $i from 1 through ($slider-items) {
    input:nth-child(#{$i}):checked {
      ~ .#{$class-prefix}-arrows {

        // Izquierda
        @if ($i != 1) {
          > :nth-child(#{$i - 1}) {
            --#{$vars-prefix}l: var(--#{$vars-prefix}arrow-left);
          }
        }

        // Derecha
        @if ($i != $slider-items) {
          > :nth-child(#{$i + 1}) {
            --#{$vars-prefix}r: var(--#{$vars-prefix}arrow-right);
          }
        }

      }
    }
  }

  // Para el final y el principio
  input:checked {
    // Derecha
    &:last-of-type:not(:nth-child(2)) {
      ~ .#{$class-prefix}-arrows label:first-child:not(:only-child) {
        --#{$vars-prefix}r: var(--#{$vars-prefix}arrow-right);
        order: $slider-items;
      }
    }
    // Izquierda
    &:first-of-type {
      ~ .#{$class-prefix}-arrows label:last-child:not(:only-child) {
        --#{$vars-prefix}l: var(--#{$vars-prefix}arrow-left);
        order: -1;
      }
    }
  }
}