@use "../abstracts/variables";

// Prefix
// Variables with the prefix "--sheet" are safe to modify
// Variables with the prefix "--ss" should not be modified

.sheet {
  // You can change these variables
  --sheet-accent: #{variables.$main-color};
  --sheet-space: #{variables.$main-space};
  --sheet-arrow-size: #{variables.$arrow-size};
  --sheet-duration: #{variables.$transition-duration};
  --sheet-dot-size: #{variables.$dots-size};
  --sheet-timing: #{variables.$transition-timing};

  overflow: hidden;
  position: relative;
  aspect-ratio: var(--sheet-ratio, 21/9);

  input {
    display: none;
  }
}

