
.sheet {
  &-content {
    position: relative;
    height: 100%;
  }

  &:not(&-fade) &-content {
    display: flex;
    transition: transform var(--ss-td) var(--sheet-timing);
  }
  
  &:not(&-fade):not(&-vertical) &-content {
    transform: var(--ss-t3d, translate3d(calc((var(--ss-current,0) - 1) * -100%), 0, 0));
  }
}

