
.sheet {
  &-content {
    position: relative;
  
    &::after {
      content: "";
      display: block;
      padding-top: calc((var(--sheet-ratio-y, 9) / var(--sheet-ratio-x, 21)) * 100%);
    }
  }

  &:not(&-fade) &-content {
    display: flex;
    transition: transform var(--ss-td) var(--ss-timing, #{$transition-timing});
  }
  
  &:not(&-fade):not(&-vertical) &-content {
    transform: translate3d(calc((var(--ss-current,0) - 1) * -100%), 0, 0);
  }
}

