// Code that moves the slider
.sheet {
  @for $i from 1 through ($slider-items) {
    // Set the current slide
    input:nth-child(#{$i}):checked ~ &-content {
      --ss-current: #{$i};
    }

    // Set the active dot and item
    input:nth-child(#{$i}):checked ~ :where(&-content, &-dots) > :nth-child(#{$i}) {
      --ss-active: 1;
    }
  }

  @for $i from 1 through ($slider-items) {
    input:nth-child(#{$i}):checked ~ &-arrows {
      // Left arrow
      @if ($i != 1) {
        > :nth-child(#{$i - 1}) {
          --ss-ar: 0;
        }
      }

      // Right arrow
      @if ($i != $slider-items) {
        > :nth-child(#{$i + 1}) {
          --ss-ar: 1;
        }
      }
    }
  }

  // if first or last item is checked, change the order of the arrows
  // Note: :not(:only-child) is used to prevent the arrow from being hidden when there is only one item
  @at-root input:checked:last-of-type ~ &-arrows label:first-child:not(:only-child) {
    --ss-ar: 1;
    order: $slider-items;
  }
  
  @at-root input:checked:first-of-type ~ &-arrows label:last-child:not(:only-child) {
    --ss-ar: 0;
    order: -1;
  }
}
