.#{$class-prefix} {
  &-item {
    flex-shrink: 0;
    flex-basis: 100%;
    position: relative;
    &::after {
      display: block;
      content: "";
      padding-top: calc((var(--#{$vars-prefix}ratio-y, 9) / var(--#{$vars-prefix}ratio-x, 21)) * 100%);
    }
    img {
      width: 100%;
      display: block;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  &-meta {
    font-weight: $meta-font-weight;
    text-shadow: $meta-text-shadow;
    position: absolute;
    color: var(--#{$vars-prefix}meta-color, #{$meta-color});
    top: var(--#{$vars-prefix}gap);
    left: var(--#{$vars-prefix}gap);
    opacity: var(--#{$vars-prefix}i,0);
    transform: translate3d(0, calc((var(--#{$vars-prefix}i, 5) - 1) * 1em), 0);
    transition-delay: calc(var(--#{$vars-prefix}duration) * .5);
    transition-duration: calc(var(--#{$vars-prefix}duration) * .75);
    transition-property: transform, opacity;
    will-change: opacity, transform;

    * {
      margin-top: 0;
      margin-bottom: 0;
      &:first-child {
        font-size: var(--#{$vars-prefix}meta-title-size, #{$meta-title-size});
      }
      + * {
        font-size: var(--#{$vars-prefix}meta-text-size, #{$meta-text-size});
      }
    }
  }

  // Mueve el contenedor dependiendo del estado de los input
  @for $i from 1 through ($slider-items) {
    input:nth-child(#{$i}):checked {
      ~ * {
        --#{$vars-prefix}pos: #{$i};
        > :nth-child(#{$i}) {
          --#{$vars-prefix}i: 1;
        }
      }
    }
  }
}



