.#{$class-prefix}:not(.#{$class-prefix}-fade) {
  .#{$class-prefix}-item {
    flex-shrink: 0;
    flex-basis: 100%;
    position: relative;
  }
}

.#{$class-prefix} {
  &-item {
    &::after {
      @include aspect-ratio;
    }
    img {
      display: block;
      object-fit: cover;
      @include inset;
    }
  }

  &-meta {
    font-weight: $font-weight;
    text-shadow: var(--#{$vars-prefix}text-shadow, $text-shadow);
    position: absolute;
    color: var(--#{$vars-prefix}text-color, #{$text-color});
    top: var(--#{$vars-prefix}gap);
    left: var(--#{$vars-prefix}gap);
    opacity: var(--#{$vars-prefix}i,0);
    transform: translate3d(0, calc((var(--#{$vars-prefix}i, 5) - 1) * 1em), 0);
    transition-delay: calc(var(--#{$vars-prefix}duration) * .5);
    transition-duration: calc(var(--#{$vars-prefix}duration) * .75);
    transition-property: transform, opacity;
    will-change: opacity, transform;

    * {
      margin-top: 0;
      margin-bottom: 0;
      &:first-child {
        font-size: var(--#{$vars-prefix}title-size, #{$title-size});
      }
      + * {
        font-size: var(--#{$vars-prefix}text-size, #{$text-size});
      }
    }
  }

  // Mueve el contenedor dependiendo del estado de los input
  @for $i from 1 through ($slider-items) {
    input:nth-child(#{$i}):checked {
      ~ * {
        --#{$vars-prefix}pos: #{$i};
        > :nth-child(#{$i}) {
          --#{$vars-prefix}i: 1;
        }
      }
    }
  }
}



