.#{$class-prefix} {
  &-buttons {
    display: flex;
    gap: .25em;
    position: absolute;
    bottom: 0;
    left: var(--#{$vars-prefix}gap);
    right: var(--#{$vars-prefix}gap);
    label {
      flex: 1 0 auto;
      cursor: pointer;
      background-color: var(--#{$vars-prefix}navigation-bg, #{$navigation-bg});
      transition: background-color calc(var(--#{$vars-prefix}duration) * .5);
      will-change: background-color;
      &::before {
        content: "";
        padding-bottom: var(--#{$vars-prefix}navigation-size);
        display: block;
        background-color: var(--#{$vars-prefix}color);
        opacity: var(--#{$vars-prefix}i,0);
        transition: opacity calc(var(--#{$vars-prefix}duration) * .5);
        will-change: opacity;
      }
      &:hover {
        background-color: var(--#{$vars-prefix}navigation-bg-hover, #{$navigation-bg-hover});
      }
    }
  }
}
