.sheet {
  &-fade &-item {
    position: absolute;
    inset: 0;
    opacity: var(--ss-active, 0);
    transition: opacity var(--ss-td) var(--sheet-timing);
    pointer-events: var(--ss-current, none);
  }
}