.#{$class-prefix}-fade {
  .#{$class-prefix}-item {
    @include inset;
    opacity: var(--ss-i,0);
    transition: opacity 1s;
    pointer-events: var(--ss-i,none);
  }
  .#{$class-prefix}-content {
    &::after {
      @include aspect-ratio;
    }
  }
}